.Button {
  border: none;
  cursor: pointer;
  font-family: Geist;
  transition: 250ms;
  font-weight: 600;
}

.Button:hover{
  outline: 1px rgb(174, 0, 255) dotted;
  outline-offset: 2px;
  transform: scale(1.1);
}