.spbSummary {
  position: sticky;
  top: 28px;
  padding: 22px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.spbSummary__value {
  margin-top: 20px;
  padding: 16px;
  border: 1px solid #2d2d31;
  background: #17171a;
  border-radius: 12px;
}

.spbSummary__rows {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.spbSummary__rows > div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #efefff;
}
.spbSummary__rows > div:last-child {
  margin-bottom: 10px;
}
.spbSummary__rows span {
  color: #aaaab0;
}



.spbSummary__cta {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.spbSummary__trust {
  display: grid;
  gap: 7px;
  margin-top: 13px;
  color: #7f7f85;
  font-size: 9px;
}
@media (max-width: 950px) {
  .spbSummary {
    position: static;
  }
}
