.Home {
  display: flex !important;
  flex-direction: column;
  gap: 26px;
  text-align: center !important;
  justify-content: center !important;
  padding: 100px;
 
}

.Hero-Text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  z-index: 5;

}

.Hero-Text-Img-box img{
      z-index: 1;
    object-fit: cover;
    object-position: center 44%;
    opacity: .92;
    filter: blur(2px) saturate(1.1);
    width: 50%;
    margin: auto;
    height: 230px;
    position: absolute;
    inset: 0 0 auto;
    -webkit-mask-image: radial-gradient(60% 125% at 50% 0, #000 14%, #0006 46%, #0000 72%);
     mask-image: radial-gradient(60% 125% at 50% 0, #000 14%, #0006 46%, #0000 72%);

}


.Home-Boll-Img{
  /* height: 100px; */
  width: 400px;
  border-radius: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-Boll-Img img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-inline: -10px;
  transition: 250ms;
}

.Home-Boll-Img img:hover{
  transform: scale(1.1);
  z-index: 10;
}


.Hero-Text h1 {
  letter-spacing: -0.06em;
}
.Hero-Body h5 {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.55;
}




@media (max-width: 520px) {
  .Home {
    /* margin-top: 2rem !important; */
    padding: 20px 16px;
  }

}
