.spbMetric {
  
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.spbMetric span {
  font-size: 10px;
  color: #8a8a91;
  margin-bottom: 5px;
}

.spbMetric strong {
  font-size: 14px;
  line-height: 1.3;
}
