.Progress-bar{
    width:100%; height:6px; background:#eee; border-radius:100px; overflow:hidden; 
}

.progress-value{
     height:100%; background:#6b5cff; border-radius:inherit; transition:width 300ms ease;
}