.Button{
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 100ms;
    font-size: 16px;
}

.Button:hover{
    transform: scale(1.03);
    
}

.Button:active{
    transform: scale(1);
}