.Lead{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 5rem;
    padding: 30px;
    position: sticky;
    top: 10%;
    z-index: -5;
}


.Lead-Info{
    width: 50%;
}


.Lead-Img{
    width: 50%;
    border-radius: 20px;
}

.Lead-Img img{
    width: 100%;
    border-radius: 20px;
}


.Lead-Info-Point{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}